<div class="card-deck">
    <div class="card" routerLink="/student">
        <img src="../../../assets/estudiante.jpg" class="card-img-top" alt="estudiantes">
        <div class="card-body">
            <h5 class="card-title">Estudiantes</h5>
            <p class="card-text">Podra ver, agregar, actualizar o eliminar estudiantes</p>
        </div>
    </div>
    <div class="card" routerLink="/teacher">
        <img src="../../../assets/profesor.jpg" class="card-img-top" alt="profesores">
        <div class="card-body">
            <h5 class="card-title">Profesores</h5>
            <p class="card-text">Podra ver, agregar, actualizar o eliminar profesores</p>
        </div>
    </div>
    <div class="card" routerLink="/note">
        <img src="../../../assets/notas.png" class="card-img-top" alt="notas">
        <div class="card-body">
            <h5 class="card-title">Notas</h5>
            <p class="card-text">Podra ver, agregar, actualizar o eliminar notas</p>
        </div>
    </div>
</div>